@{
    ViewBag.Title = "Report";
}
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Report">Analytics</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active" id="order"><a href="#order">Orders</a></li>
                <li id="product"><a href="#product">Products</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="orders">
    <div class="row">
        <div class="col-md-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>150</h3>
                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Bounce Rate</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="box-header text-bold">Tổng Doanh thu:</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên nhân viên:
                    </div>
                    <div class="col-md-6">
                        Tổng tiền:
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="box-header text-bold">Doanh thu theo từng nhân viên:</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên sản phẩm:
                    </div>
                    <div class="col-md-6">
                        Số lượng:
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="box-header text-bold">Sản phẩm bán chạy nhất:</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên nhân viên:
                    </div>
                    <div class="col-md-6">
                        Tổng tiền:
                    </div>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="box-header text-bold">Người mua nhiều nhất:</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên Người mua:
                    </div>
                    <div class="col-md-6">
                        Số lượng order:
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="products">
    <div class="row">
        <div class="col-md-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>150</h3>
                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Bounce Rate</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="box-header text-bold">Tổng số lượng:</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên sản phẩm:
                    </div>
                    <div class="col-md-6">
                        Số lượng:
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="box-header text-bold">Số lượng bán ra</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên sản phẩm:
                    </div>
                    <div class="col-md-6">
                        Số lượng:
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="box-header text-bold">Số lượng bán ra</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên Sản phẩm:
                    </div>
                    <div class="col-md-6">
                        Số lượng:
                    </div>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="box-header text-bold">Sản phẩm được mua nhiều nhất:</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên sản phẩm:
                    </div>
                    <div class="col-md-6">
                        Số lượng:
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


